.quote {
     margin-left:5mm;
     font-size:10pt;
     font-style:italic;
}

.tocf {
     vertical-align:baseline;
     text-align:right;
}
.toc {
     padding-left:7px;
     padding-bottom:3pt;
     text-indent:-7px;
}
.noline {
     text-decoration:none;
}

.htp-tag {
     color:#000080;
}
.htp-macro {
     color:#c00000;
}
.htp-attrib {
     color:#800000;
}
.htp-value {
     color:#c08000;
}
.htp-string {
     color:#c08000;
}
.ebnf {
     color:#000000;
}
.comment {
     color:#800000;
}
